nav ul {
  list-style: none;    /* Keine Punkte */
  margin: 0;
  padding: 0;
  display: flex;       /* Nebeneinander! */
  gap: 20px;           /* Abstand zwischen den Links */
}

nav ul li a {
  text-decoration: none;
  color: green;
  font-size: 1.6em;
  font-weight: bold;
  font-family:Arial,Helvetica,sans-serif
}

/* Hover-Effekt */
nav ul li a:hover {
  color: #0077cc;
}
