nav ul {
  list-style: none;    /* Keine Punkte */
  margin: 0;
  padding: 0;
  display: flex;       /* Nebeneinander! */
  gap: 20px;           /* Abstand zwischen den Links */
}

p {
  list-style: none;    /* Keine Punkte */
  margin: 0;
  padding: 0;
  display: flex;       /* Nebeneinander! */
  gap: 20px;           /* Abstand zwischen den Links */
}

nav ul li a {
  text-decoration: none;
  color: green;
  font-size: 1em;
  font-weight: bold;
  font-family:Arial,Helvetica,sans-serif
}

/* Hover-Effekt */
nav ul li a:hover {
  color: #0077cc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Abstand zwischen den Boxen */
    justify-content: flex-start; /* Boxen nach links ausrichten */
    align-items: flex-start; /* Sicherstellen, dass die Boxen oben ausgerichtet sind */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Volle Breite des Bildschirms */
    max-width: 2000px; /* Maximalbreite des Containers */
}

h1 {
    text-align: left; /* Titel nach links ausrichten */
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    width: 100%;
}

.entry-box {
    background-color: #eaeaea;
    padding: 15px;
    border-radius: 8px;
    width: 20%; /* Jede Box nimmt 30% des Containers ein */
    min-width: 280px; /* Mindestbreite der Boxen */
    box-sizing: border-box;
    transition: transform 0.3s ease;
}


.entry {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
}

.year {
    font-weight: bold;
    font-size: 16px;
    width:100%;
    color: #333;
}

.course {
    font-weight: bold;
    color: #4CAF50;
    font-size: 16px;
    display: block;
    margin-top: 1px;
}
.job {
    width:100%;
    font-weight: bold;
    color: #A52A2A;
    font-size: 16px;
    display: block;
    margin-top: 1px;
}
.firma {
    font-weight: bold;
    color: #4CAF50;
    font-size: 16px;
    display: block;
    margin-top: 1px;
}

.description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

